@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f4; 
}

::-webkit-scrollbar-thumb {
  background: #ea580c; 
  border: 3px solid #f5f5f4; 
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c2410c; 
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ea580c #f5f5f4;
}